/public/
/resources/
/.hugo_build.lock
/hugo_stats.json

# OS / editor
.DS_Store
Thumbs.db
*.swp
*~
/.vscode/
/.idea/

# Node (only if you add a JS pipeline)
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*