{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>

{{- if .Content }}
<div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

<div class="categories-list">
    {{ $type := .Type }}
    {{ range $key, $value := .Data.Terms.Alphabetical }}
    <div class="category-item">
        {{ $name := .Name }}
        {{ $count := .Count }}
        <h3><a href="{{ .Page.RelPermalink }}">{{ $name }}</a> <sup>({{ $count }})</sup></h3>
    </div>
    {{ end }}
</div>

{{- end }}